.page-container{
  padding: 20px;
}
.page-container-title { 
  padding: 20px;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.21);
  -webkit-box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px 1px 14px -1px rgba(0,0,0,0.21);
}








@media (max-width: 1100px) {
  .page-container-title { 
    padding: 18px;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .page-container{
    padding: 15px;
  }
  .page-container-title { 
    padding: 15px;
    font-size: 18px;
  }
}